* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    padding-top: 20px;
    /*ADCIONAR ESPAÇO*/
    padding-right: 100px;
    padding-left: 100px;

}

.conteudo {
    width: 100%;
    /*LARGURA*/
    display: flex;
    justify-content: space-between;
    /*ADICIONAR ESPAÇO ENTRE OS ITENS*/
    align-items: center;
    /*ALINHAR TUDO AO CENTRO*/
}

.caixa-texto {
    width: 600px;

}

.caixa-imagem {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    /*JOGAR TUDO PARA O LADO*/
    margin-top: 250px;
}

.menu {
    display: flex;
    justify-content: center;
    /*JOGAR ITENS PARA O CENTRO*/

}

button {
    background-color: #017143;
    /*COR DE FUNDO*/
    color: white;
    /*COR DO TEXTO*/
    border: none;
    /*SEM BORDAS*/
    padding: 10px;
    /*TAMANHO DO BOTÂO*/
    border-radius: 20px;
    /*ARREDONDAMENTO DAS BORDAS*/

}


h {
    font-size: 60px;
    font-weight: 500;

}



span {
    color: #017143;
    font-size: 70px;
    /*MUDAR TAMANHO DO TEXTO*/
    font-weight: 900;
    /*MUDAR GROSSURA DO TEXTO*/
}

img {
    width: 50px;
}

p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.logo {
    width: 80px;
}

.starbucks {
    width: 340px;
    position: relative;
    top: 0;
    margin-top: -68px;

}

.copo-pequeno {
    width: 60px;
    cursor: pointer;
    transition: 1s;


}

.copo-pequeno:hover {
    transform: translateY(-35px);
}

.circulo {
    background: #017143;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    clip-path: circle(600px at right 800px);
}

@media(max-width:600px) {
    body {

        min-width: 100vw;
        min-height: 100vh;
        padding: 20px;

    }

    .logo {
        width: 50px;
    }

    h2 {
        width: 300px;
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .caixa-texto {
        width: 300px;
    }


    .circulo {
        clip-path: circle(400px at right 550px);
        width: 100%;
        height: 100%;
        z-index: -2;
        margin-left: -100px;
        margin-top: 150px;



    }

    .starbucks {
        width: 200px;
        margin-left: -160px;
        margin-top: 400px;
        position: relative;


    }

    .conteudo {
        margin-top: -200px;
        width: 0px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        margin-top: -200px;
        


    }

    span {
        color: #017143;
        font-size: 30px;
        font-weight: 900;
    }
}